<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon name="timer-outline"></ion-icon>
      <ion-label>Focus</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="kennel" href="/tabs/kennel">
      <ion-icon name="paw-outline"></ion-icon>
      <ion-label>My Buddy</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/tabs/profile">
      <ion-icon name="heart-outline"></ion-icon>
      <ion-label>Impact</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>